.oil__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .oil__title-wrapper {
    margin-top: 20px;
  }
}

.oil-page__title-background {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: -30px;
}

.oil__title-background-image {
  width: 400px;
  height: 47px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .oil__title-background-image {
    width: 350px;
    margin-left: 10px;
  }
}

.oil__title {
  position: relative;
  font-size: 24px;
  font-family: "Palatino Linotype";
  font-weight: 500;
  text-align: center;
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .oil__title {
    margin-top: 5px;
    font-size: 22px;
  }
}
