.title-one__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.title-one-page__title-background {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: -20px;
}

@media (max-width: 1082px) {
  .title-one-page__title-background {
    margin-left: -20px;
  }

  @media (max-width: 480px) {
    .title-one-page__title-background {
      margin-left: -5px;
    }
  }
}

@media (max-width: 1082px) {
  .title-one-page__title-background {
    margin-left: 5px;
  }
}

.title-one__title-background-image {
  width: 480px;
  height: 55px;
}
@media (max-width: 480px) {
  .title-one__title-background-image {
    width: 300px;
    height: 45px;
  }
}
@media (max-width: 592px) {
  .title-one__title-background-image {
    width: 280px;
    height: 45px;
  }
}

.title-one__title {
  position: relative;
  font-size: 32px;
  font-family: "Palatino Linotype";
  font-weight: 500;
  margin-top: 8px;
  /* margin-left: -30px; */
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 480px) {
  .title-one__title {
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .title-one__title {
    font-size: 26px;
  }
}

@media (max-width: 1082px) {
  .title-one__title {
    margin-left: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .title-one__title {
    font-size: 22px;
  }
}
