.title-one__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.title-one-page__title-background {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: -20px;
}

@media (max-width: 1082px) {
  .title-one-page__title-background {
    margin-left: -20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .title-one-page__title-background {
    margin-left: -10px;
  }
}

.title-one__title-background-image {
  width: 480px;
  height: 55px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .title-one-page__title-background {
    height: 40px;
  }
}
@media (max-width: 592px) {
  .title-one__title-background-image {
    width: 280px;
    height: 45px;
  }
}

.title-one__title {
  position: relative;
  font-size: 32px;
  font-family: 'Palatino Linotype';
  font-weight: 500;
  margin-top: 8px;
  display: flex;
}

@media (max-width: 767px) {
  .title-one__title {
    font-size: 26px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .title-one__title {
    font-size: 20.5px;
  }
}
