.wave-text__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px;
  max-width: 1000px;
}

.wave-text__title-background {
  position: absolute;
  justify-content: flex-start;
  display: flex;
  opacity: 1;
  margin-top: -20px;
  margin-left: -50px;
}

@media (max-width: 960px) {
  .wave-text__title-background {
    margin-left: -0px;
  }
}

.wave-text__title-background-image {
  width: 650px;
  height: 87px;
}

@media (max-width: 960px) {
  .wave-text__title-background-image {
    width: 640px;
  }
}
@media (max-width: 767px) {
  .wave-text__title-background-image {
    width: 605px;
  }
}
@media (max-width: 650px) {
  .wave-text__title-background-image {
    width: 580px;
  }
}
@media (max-width: 375px) {
  .wave-text__title-background-image {
    width: 405px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .wave-text__title-background-image {
    width: 370px;
    height: 120px;
  }
}

.wave-text__title {
  position: relative;
  font-size: 18px;
  font-family: "Nunito";
  font-weight: 400;
  flex-wrap: wrap;
  max-width: 570px;
  text-align: right;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .wave-text__title {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
  }
}
