.wave-text__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.wave-text__title-background {
  position: absolute;
  justify-content: flex-start;
  display: flex;
  opacity: 0.8;
  margin-top: -20px;
  margin-left: -50px;
}

@media (max-width: 960px) {
  .wave-text__title-background {
    margin-left: -0px;
  }
}

.wave-text__title-background-image {
  width: 805px;
  height: 87px;
}

@media (max-width: 960px) {
  .wave-text__title-background-image {
    width: 640px;
  }
}
@media (max-width: 767px) {
  .wave-text__title-background-image {
    width: 605px;
  }
}
@media (max-width: 650px) {
  .wave-text__title-background-image {
    width: 580px;
  }
}
@media (max-width: 375px) {
  .wave-text__title-background-image {
    width: 405px;
  }
}

.wave-text__title {
  position: relative;
  font-size: 18px;
  font-family: "Nunito";
  font-weight: 400;
  flex-wrap: wrap;
  max-width: 570px;
  text-align: right;
}
