.navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ececec;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    max-width: 100%;
  }
}

.navbar a {
  font-size: 18px;
  color: #535353;
  font-family: "Nunito", Sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-decoration: none;
}

.navbar a:hover {
  color: #2e7b35;
  text-decoration: none;
}

.navbar-item {
  display: inline;
  padding: 0 0 5px;
}

.logo {
  display: flex;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #535353;
}

@media (max-width: 768px) {
  .logo {
    margin-right: 80px;
  }
}
