.navbar {
  background-color: #ececec;
  text-align: end;
  padding: 10px;
  content: "";
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  font-size: 18px;
  color: #535353;
  font-family: "Nunito", Sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-decoration: none;
}

.navbar a:hover {
  color: #2e7b35;
  text-decoration: none;
}

.navbar-item {
  display: inline;
  padding: 0 0 5px;
}

.logo {
  display: flex;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #535353;
}
