.styles-page {
  display: flex;
  justify-content: center;
  /* min-width: 1000px; */
}

.styles-page__general {
  /* background-image: url("/public/images/background/Слой3.png"); */
  background-image: url("/public/images/background/Слой22 -фон.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55% 88%;
}

.styles-page__title {
  font-size: 24px;
  font-family: "Palatino Linotype";
  font-weight: 500;
  white-space: nowrap;

  text-align: center;
  margin-left: 40px;
  margin-top: 7px;
  position: absolute;
}

.styles-art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 880px;
  margin-top: 30px;
}

.styles__item {
  padding: 5px 15px 0 15px;
}

.styles__image {
  border: 1px solid black;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 5px 0 1px #b4b5b6;
  height: 270px;
  width: 210px;
}

.styles-name {
  padding-top: 15px;
  display: flex;
  font-size: 16px;
  font-family: "Lora", serif;
  font-weight: 500;
  justify-content: center;
}

.styles-price {
  display: flex;
  font-size: 14px;
  color: #3c3f42;
  font-family: "Lora", serif;
  font-weight: 500;
  justify-content: center;
  padding-bottom: 20px;
}
