.title-two__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}

.title-two-page__title-background {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: -20px;
  margin-top: -28px;
}

@media (max-width: 1082px) {
  .title-two-page__title-background {
    margin-left: -20px;
  }
}
@media (max-width: 1022px) {
  .title-two-page__title-background {
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  .title-two-page__title-background {
    margin-left: -18px;
  }
}

.title-two__title-background-image {
  width: 310px;
  height: 70px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .title-two__title-background-image {
    height: 60px;
    width: 210px;
  }
}

.title-two__title {
  position: relative;
  font-size: 32px;
  font-family: 'Palatino Linotype';
  font-weight: 500;
  margin-top: -18px;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1082px) {
  .title-two__title {
    margin-left: -2px;
  }
}

@media (max-width: 767px) {
  .title-two__title {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .title-two__title {
    font-size: 20px;
    margin-top: -10px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .title-two__title {
    margin-top: -15px;
    font-size: 22px;
  }
}
