.title-two__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.title-two-page__title-background {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: -50px;
  margin-top: -10px;
}

@media (max-width: 1082px) {
  .title-two-page__title-background {
    margin-left: -20px;
  }
}
@media (max-width: 1022px) {
  .title-two-page__title-background {
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  .title-two-page__title-background {
    margin-left: -5px;
  }
}

.title-two__title-background-image {
  width: 310px;
  height: 40px;
}

@media (max-width: 480px) {
  .title-two__title-background-image {
    width: 210px;
    height: 32px;
  }
}

.title-two__title {
  position: relative;
  font-size: 32px;
  font-family: "Palatino Linotype";
  font-weight: 500;
  margin-top: -18px;
  margin-left: -30px;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1082px) {
  .title-two__title {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .title-two__title {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .title-two__title {
    font-size: 20px;
    margin-top: -10px;
  }
}
