/* .oil-wrapper {
  width: 100%;
}

.oil-portrait__general {
  background-image: url("/public/images/background/Слой3.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.oil-portrait__title {
  font-size: 24px;
  font-family: "Palatino Linotype";
  font-weight: 500;
  white-space: nowrap;
} */
