.footer-wrapper {
  background-color: #c5c5c5;
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-content {
  padding-top: 20px;
}

.footer-logo {
  display: flex;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #535353;
  margin-top: -10px;
}

@media (max-width: 425px) {
  .footer-logo {
    font-size: 26px;
    margin-left: 40px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.address {
  color: #ffffff;
  font-family: "Nunito", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -8px;
  letter-spacing: 4px;
  padding-bottom: 5px;
}
@media (max-width: 425px) {
  .address {
    font-size: 18px;
    margin-left: 40px;
  }
}

.address::before {
  content: "[";
  color: #2e7b35;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-right: 4px;
  line-height: 1em;
  position: relative;
  top: -1px;
}

.address::after {
  content: "]";
  color: #2e7b35;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-left: 8px;
  line-height: 1em;
  position: relative;
  top: -1px;
}

.address-city {
  font-family: "Nunito", Sans-serif;
  font-weight: 500;
  color: #5d5d5d;
  font-size: 20px;
  padding-bottom: 5px;
}

@media (max-width: 425px) {
  .address-city {
    font-size: 18px;
    margin-left: 40px;
  }
}

.address-metro {
  font-family: "Nunito", Sans-serif;
  font-weight: 500;
  color: #5d5d5d;
  font-size: 20px;
  padding-bottom: 5px;
}
@media (max-width: 425px) {
  .address-metro {
    font-size: 18px;
    margin-left: 40px;
  }
}
.address-street {
  font-family: "Nunito", Sans-serif;
  font-weight: 500;
  color: #5d5d5d;
  font-size: 20px;
  padding-bottom: 5px;
}

@media (max-width: 425px) {
  .address-street {
    font-size: 18px;
    margin-left: 40px;
  }
}

.address-street__more {
  font-family: "Nunito", Sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 5px;
  color: #2e7b35;
}
@media (max-width: 425px) {
  .address-street__more {
    font-size: 18px;
    margin-left: 40px;
  }
}

.phone-number {
  font-family: "Nunito", Sans-serif;
  font-weight: 500;
  color: #5d5d5d;
  font-size: 20px;
  padding-bottom: 15px;
}

@media (max-width: 425px) {
  .phone-number {
    font-size: 18px;
    margin-left: 40px;
  }
}

.address-location {
  display: flex;
  font-family: "Nunito", Sans-serif;
  flex-wrap: nowrap;
  font-weight: 600;
  color: #5d5d5d;
  font-size: 18px;
  background-color: #dfdfdf;
  border-radius: 5px;
  height: auto;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  color: #000000;
}

@media (max-width: 425px) {
  .address-location {
    font-size: 14px;
    margin-left: 40px;
    max-width: 200px;
    height: auto;
  }
}

.location-container a {
  text-decoration: none;
}

.location-image {
  width: 25px;
  height: 25px;
  padding-left: 3px;
  align-items: center;
}

.footer-contacts {
  font-family: "Nunito", Sans-serif;
  font-weight: 500;
  color: #5d5d5d;
  font-size: 16px;
}

.footer-content__navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
}

.footer-navbar {
  margin: 10px;
}

.footer-navbar a {
  font-size: 20px;
  color: #535353;
  font-family: "Nunito", Sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-decoration: none;
}

@media (max-width: 425px) {
  .footer-navbar a {
    font-size: 18px;
  }
}

.footer-navbar a:hover {
  color: #2e7b35;
  text-decoration: none;
}

.footer-messenger {
  font-size: 20px;
  color: #535353;
  font-family: "Nunito", Sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 425px) {
  .footer-messenger {
    font-size: 16px;
  }
}

.footer-messenger::before {
  content: "[";
  color: #2e7b35;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin-right: 4px;
  line-height: 1em;
  position: relative;
  top: -1px;
}

.footer-messenger::after {
  content: "]";
  color: #2e7b35;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin-left: 4px;
  line-height: 1em;
  position: relative;
  top: -1px;
}

.footer-messenger {
  display: flex;
}

.icons-messenger {
  width: 35px;
  height: 35px;
  align-items: center;
  padding-right: 5px;
  transition: 0.8s;
}

.icons-messenger:hover {
  transform: scale(1.5);
  -webkit-filter: sepia(1) hue-rotate(320deg) saturate(10);
  filter: sepia(1) hue-rotate(40deg) saturate(10);
}
