@font-face {
  font-family: "Palatino Linotype";
  src: url(/public/fonts/Palatinolinotype_bold.woff2) format("woff");
  src: url(/public/fonts/Palatinolinotype_bolditalic.woff2) format("woff");
  src: url(/public/fonts/Palatinolinotype_italic.woff2) format("woff");
  src: url(/public/fonts/Palatinolinotype_roman.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchetms";
  src: url(/public/fonts/Trebuchetms.woff2) format("woff");
  src: url(/public/fonts/AnyConv.com__Trebuchet\ MS\ Полужирный.woff2)
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.front-page__content {
  display: flex;
}

.front-page__title {
  background-image: url("/public/images/Фон заголовок.png");
  background-repeat: no-repeat;
  background-size: 590px 65px;
  padding-top: 10px;
  font-size: 22px;
  margin: 20px auto 0 250px;
  font-family: "Palatino Linotype";
  font-weight: 700;
  position: relative;
  top: 30px;
  left: 20px;
  text-align: center;
}

.front-page__subtitle {
  font-size: 16px;
  font-family: "Trebuchetms";
  font-weight: 500;
  margin-top: 45px;
  margin-left: 60px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 7px 0 1px #b0b0b0;
  max-width: 410px;
  text-align: left;
}

.front-page__text {
  font-size: 14px;
  font-family: "Trebuchetms";
  font-weight: 500;
  margin-top: 45px;
  margin-left: 230px;
  margin-right: 60px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 5px 5px 0 1px #b0b0b0;
  text-align: right;
  width: 310px;
}

.front-page__message {
  font-size: 14px;
  font-family: "Trebuchetms";
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 15px;
  margin-left: -150px;
}

.front-page__button {
  font-size: 14px;
  margin-right: 305px;
  font-family: "Trebuchetms";
  font-weight: 500;
  background-color: #36883d;
  color: white;
  border-radius: 50px;
  border: none;
  padding: 10px;
  max-width: 290px;
  box-shadow: 5px 5px 0 1px #7f7f7f;
}

.main-image {
  height: 490px;
  margin-right: 465px;
  margin-left: -70px;
}
