.process-page__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 650px) {
  .process-page__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
}

.process-page__title-background {
  position: relative;
  bottom: 33px;
  right: 0;
  justify-content: flex-end;
  display: flex;
}

.process-page__title {
  font-size: 30px;
  font-family: "Trebuchetms";
  font-weight: 500;
  letter-spacing: 1px;

  background: none;
  text-align: end;
}

.process-page__title-background-image {
  width: 590px;
  height: 40px;
}

.process-page__title-first {
  margin-right: 6px;
}
