.process-page {
  padding: 68px 10% 55px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.process-page__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .process-page {
    padding: 2px 0 20px;
  }

  .process-page__container {
    justify-content: center;
  }
}

.process-page__general {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-img {
  height: 200px;
}

.process-main-description {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 240px;
  display: block;
  font-size: 16px;
  font-family: 'Trebuchet MS', serif;
  font-weight: 400;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .process-main-description {
    font-family: 'Century Gothic';
    font-size: 15px;
    font-weight: bold;
  }
}

.process-secondary-description {
  font-family: 'Trebuchet MS', serif;
  font-weight: 400;
  font-size: 14px;
  color: #565656;
  max-width: 230px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .process-secondary-description {
    font-family: 'Century Gothic';
    font-size: 12px;
    font-weight: normal;
    color: black;
  }
}

.process-page__information {
  display: grid;
  margin-top: 60px;
  max-width: 899px;
  width: 100%;
  grid-template-columns: 300px 450px;
  grid-template-rows: 100px 330px;
  grid-column-gap: calc(100% - 750px);
}

@media (max-width: 780px) {
  .process-page__information {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 430px 280px;
  }
}

@media (max-width: 630px) {
  .process-page__information {
    display: grid;
    margin-top: 60px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 430px 100px 280px;
    grid-column-gap: calc(100% - 750px);
    justify-items: center;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .process-page__information {
    display: none;
  }
}
.process-item__wrapper {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.process-item__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 -50px;
}

.process-text__container {
  display: grid;
  height: 100px;
  grid-template-columns: 150px 100px 50px;
}

@media (max-width: 780px) {
  .process-text__container {
    align-self: end;
  }
}

@media (max-width: 630px) {
  .process-text__container {
    grid-row: 2;
  }
}

.process-inf__text {
  font-family: 'Trebuchet MS';
  font-size: 20px;
  font-weight: 500;
  grid-column: 1/4;
}
.process-inf__text2 {
  font-family: 'Trebuchet MS';
  color: rgb(32, 32, 32);
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
  grid-column-start: 1;
}

.process-inf__text3 {
  font-family: 'Trebuchet MS';
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  max-width: 150px;
  margin-top: 2px;
}

.process_text__general {
  display: flex;
  flex-direction: row;
}

.process-arrow__container {
  position: relative;
  top: 20px;
}

.process-arrow {
  height: 60px;
}

.process-ava {
  width: 400px;
}
@media (max-width: 780px) {
  .process-ava {
    width: 300px;
  }
}

.process-video {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 335px;
  border-radius: 10px;
  margin-top: 10px;
}

@media (max-width: 780px) {
  .process-video {
    grid-column: 1 / 3;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.process-author {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  background-color: #94b496;
  box-shadow: 5px 5px 0 1px #7c7c7c;
  border-radius: 10px;
  max-width: 225px;
  height: auto;
  margin-left: -40px;
}

@media (max-width: 780px) {
  .process-author {
    margin-top: 90px;
    margin-left: 5px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .process-author {
    margin-top: 100px;
  }
}

.process-author a {
  text-decoration: none;
}

.process-author__name {
  font-family: 'Trebuchet MS';
  font-weight: 400;
  padding-top: 5px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  line-height: 0.9em;
}

.author-name__color {
  font-family: 'Trebuchet MS';
  font-weight: 500;
  /* padding-bottom: 1px; */
  text-align: center;
  color: #414141;
  font-size: 14px;
}
