.modern-text__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.modern-text__title-background {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: -100px;
  margin-top: 40px;
}

.modern-text__title-background-image {
  width: 400px;
  height: 60px;
}

.modern-text__title {
  position: relative;
  font-size: 23px;
  font-family: "Palatino Linotype";
  font-weight: 500;
  text-align: center;
  color: white;
  margin-top: 50px;
}
