.navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ececec;
  position: sticky;
  top: 0;
  z-index: 1100;

  padding: 0 10%;
  box-sizing: border-box;
}

.navbar {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .navbar {
    padding: 15px;
    max-width: 100%;
  }

  .navbar-wrapper {
    padding: 0;
    box-sizing: initial;
  }
}

.navbar a {
  font-size: 18px;
  color: #535353;
  font-family: 'Nunito', Sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-decoration: none;
}

.navbar a:hover {
  color: #2e7b35;
  text-decoration: none;
}

.navbar-item {
  display: inline;
  padding: 0 0 5px;
}
@media (max-width: 768px) {
  .navbar-item {
    text-align: right;
  }
}

.logo {
  display: flex;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #535353;
}

@media (max-width: 768px) {
  .logo {
    margin-right: 100px;
  }
}
