.advantages-page {
  background-color: #e0e0e0;
}

.advantages-page__general {
  background-image: url("/public/images/background/Слой22 -фон.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55% 88%;
}

.advantages-page__title {
  font-size: 24px;
  font-family: "Palatino Linotype";
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.advantages-container {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 85px;
}

.advantages-container:last-child {
  margin-right: 0;
}

.advantages-img {
  height: 100%;
}

.advantages-text {
  font-size: 12px;
  font-family: "Lora", serif;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e0e0e0;
  padding: 10px;
  box-shadow: 5px 5px 0 1px #dbc0d1;
  text-align: center;
  width: 150px;
}

.advantage-item__container {
  display: flex;
  justify-content: center;
  height: 100px;
}

.advantage-item__wrapper {
  margin-right: 20px;
}
