.advantages-page__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media(max-width: 450px) {
  .advantages-page__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  .advantages-page__title {
    margin-top: -30px;
    background: none;
    text-align: end;
  }
}

.advantages-page__title-background {
  position: relative;
  bottom: 30px;
  right: 0;
  justify-content: flex-end;
  display: flex;
}

.advantages-page__title-background-image {
  width: 200px;
  height: 40px;
}

.advantages-page__title-first {
  margin-right: 6px;
}
