.advantages-page {
  background-color: #e0e0e0;
  padding-top: 80px;
  padding-bottom: 26px;
}

.advantages-page__general {
  background-image: url("/public/images/background/Слой22 -фон.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55% 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-page__title {
  font-size: 24px;
  font-family: "Palatino Linotype";
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.advantages-container {
  margin: 45px 0 85px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  justify-items: center;
}

@media (max-width: 700px) {
  .advantages-container {
    margin: 45px 0 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    justify-items: center;
  }
}

.advantages-img {
  height: 100%;
}

.advantages-text {
  font-size: 12px;
  font-family: "Lora", serif;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e0e0e0;
  padding: 10px;
  box-shadow: 5px 5px 0 1px #dbc0d1;
  text-align: center;
}

.advantage-item__container {
  display: flex;
  justify-content: center;
  height: 100px;
}

.advantage-item__wrapper {
  width: 155px;
}
