.advantages-page__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center  ;
}

.advantages-page__title-background {
  position: relative;
  bottom: 30px;
  right: 0;
  justify-content: flex-end;
  display: flex;
}

.advantages-page__title-background-image {
  width: 200px;
  height: 40px;
}

.advantages-page__title-first {
  margin-right: 6px;
}
