.process-page__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .process-page__title-wrapper {
    display: none;
  }
}
.process-page-page__title-background {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: -50px;
}

@media (max-width: 410px) {
  .process-page-page__title-background {
    margin-left: 20px;
  }
}
@media (max-width: 635px) {
  .process-page-page__title-background {
    margin-left: 40px;
  }
}
@media (max-width: 472px) {
  .process-page-page__title-background {
    margin-left: 40px;
  }
}
@media (max-width: 620px) {
  .process-page-page__title-background {
    margin-top: 5px;
  }
}

.process-page__title-background-image {
  width: 600px;
  height: 70px;
}

@media (max-width: 635px) {
  .process-page__title-background-image {
    width: 420px;
    height: 40px;
  }
}
@media (max-width: 620px) {
  .process-page__title-background-image {
    height: 50px;
  }
}
@media (max-width: 410px) {
  .process-page__title-background-image {
    width: 300px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .process-page__title-background-image {
    width: 280px;
    height: 60px;
  }
}

.process-page__title {
  position: relative;
  font-size: 24px;
  font-family: 'Palatino Linotype';
  font-weight: 400;
  margin-top: 16px;
  font-style: normal;
  font-display: swap;
  text-align: center;
  color: black;
}
