.process-page__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}

.process-page-page__title-background {
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: -25px;
}

@media (max-width: 410px) {
  .process-page-page__title-background {
    margin-left: 20px;
  }
}
@media (max-width: 635px) {
  .process-page-page__title-background {
    margin-left: 40px;
  }
}
@media (max-width: 472px) {
  .process-page-page__title-background {
    margin-left: 40px;
  }
}

.process-page__title-background-image {
  width: 600px;
  height: 45px;
}

@media (max-width: 635px) {
  .process-page__title-background-image {
    width: 400px;
    height: 40px;
  }
}
@media (max-width: 410px) {
  .process-page__title-background-image {
    width: 300px;
    height: 40px;
  }
}
@media (max-width: 472px) {
  .process-page__title-background-image {
    width: 250px;
    height: 40px;
  }
}

.process-page__title {
  position: relative;
  font-size: 24px;
  font-family: "Palatino Linotype";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  text-align: center;
  color: black;
}
